*{
    font-family: Arial, Helvetica, sans-serif;
}

.result-card {
    max-width: 1200px;
    padding: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    background: #f8f9fa;
    margin-left: 50px;
    margin-top: 25px;
}

.result-info {
    /* background: #17a2b8; */
    color: white;
    padding: 20px;
    border-radius: 10px 0 0 10px;
    flex: 1;
    width: 5000px;
}

.result-details {
    padding: 20px;
    flex: 2;
}

.btn-custom {
    background: #17a2b8;
    color: white;
    border: none;
}

.btn-custom:hover {
    background: #138496;
}
.form-label {
    font-weight: bold;
    margin-bottom: 5px;
}
.form-label-1 {
    font-weight: bold;
    margin-top: 25px;
}
#Btn{
    margin-top: 20px;
}
